/* Reveal universal style below to apply red border to all elements */

/* * {
    border: 1px solid red;
} */
/*--------------------------------------------------------------------------*/
/* These styles function as a way to show / hide the three different view-states based on their class style */
.showView {
    display: block;
}
.hideView {
    display: none;
}
/*--------------------------------------------------------------------------*/
/* Style for main header and view-page titles */
#mainTitle {
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.viewTitle {
    text-align: center;
}
/*--------------------------------------------------------------------------*/
/* Styles for view buttons */
.viewButtonContainer {
    text-align: center;
    margin-bottom: 10px;
}
.hiddenViewButton {
    background-color: rgb(238, 33, 194);
    color: black;
    font-weight: 300;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.activeViewButton {
    background-color: rgb(255, 180, 239);
    color: black;
    font-weight: 300;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.hiddenViewButton:hover {
    background-color: rgb(251, 234, 247);
    color: black;
    font-weight: 300;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
/*--------------------------------------------------------------------------*/
/* Styles for the flashcard creator on the 'home' view */
#flashcardCreator {
    text-align: center;
    margin-bottom: 10px;
}
.creatorButton {
    background-color: rgb(98, 93, 255);
    color: black;
    font-weight: 500;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.creatorButton:hover {
    background-color: rgb(219, 223, 255);
    color: black;
    font-weight: 500;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.creatorButton:active {
    background-color: rgb(156, 157, 238);
    color: black;
    font-weight: 500;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.creatorInput {
    font-weight: 200;
    padding: 5px;
    font-size: 20px;
}
#stackSelect {
    height: auto;
    width: auto;
}
/*--------------------------------------------------------------------------*/
/* Styles for the stack creator on the 'home' view */
#stackCreator {
    text-align: center;
}
#deleteAllStacksButton {
    background-color: red;
}
#deleteAllStacksButton:hover {
    background-color: rgb(255, 220, 220);
}
#deleteAllStacksButton:active {
    background-color: rgb(255, 170, 170);
}
#flashcardList {
    text-align: center;
}
#stackNameInput {
    height: auto;
    width: auto;
}
/*--------------------------------------------------------------------------*/
/* Styles for flashcards shown on 'allcards' page */
#flashcardContainer {
    display: flex;
    justify-content: space-around; /* Adjust alignment as needed */
    flex-wrap: wrap;
  }
  .flashcard {
    position: relative;
    flex-basis: calc(25% - 20px); /* Adjust the width of each flashcard */
    margin: 10px; /* Adjust margin as needed */
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center; /* Optional: Center the content */
  }
  .flashcardElementsContainer {
    padding: 10px;
    font-size: larger;
    font-weight: 700;
  }
  .flashcardText {
    padding: 10px;
    margin-bottom: 50px;
  }
  .flashcardStack {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  #toggleButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(252, 167, 76);
    color: black;
    font-weight: 500;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  #toggleButton:hover {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(255, 232, 207);
    color: black;
    font-weight: 500;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  #toggleButton:active {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(246, 204, 159);
    color: black;
    font-weight: 500;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
  }