* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4F9E9;
}

/* These styles function as a way to show / hide the three different view-states based on their class style */
.showView {
    display: block;
}
.hiddenView {
    display: none;
}
.hiddenText {
    display: none;
}
.flashcard {
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}

#siteTitle {
    text-align: center;
    margin: 0 auto;
    font-weight: 100;
}

/*---------------- View Buttons ------------------*/
#viewButtonContainer {
    text-align: center;
}
.viewButton {
    padding: 10px 20px;
    margin: 5px;
    font-weight: 500;
    background-color: #0a334f;
    color: #EEF0EB;
}
.viewButtonClicked {
    background-color: #4f92bf;
}
.viewButton:hover {
    background-color: #4f92bf;
}
.viewButton:active {
    background-color: #4f92bf;
}
/*------------------------ Stack / Flashcard Creator -------------------------*/
#stackCreatorContainer {
    text-align: center;
    margin: 5px;
}
#flashcardCreatorContainer {
    text-align: center;
    margin: 5px;
}
#stackRemoverContainer {
    text-align: center;
    margin: 5px;
}
.stackDropdownList {
    background-color: #FEFFFB;
    font-weight: 300;
    padding: 2px 5px;
}
.textInput {
    background-color: #FEFFFB;
    margin: 0px 2px;
}
.homeFunctionButton {
    background-color: #0a334f;
    color: #EEF0EB;
    font-weight: 350;
}
.homeFunctionButton:hover {
    background-color: #4f92bf;
}
.homeFunctionButton:active {
    background-color: #4f92bf;
}
/*----------------------- Flashcard Display -------------------------*/
#sortingFlashcardContainer {
    text-align: center;
}

#stackContainer { 
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 10px; /* Gap between flex items */
}
.flashcard {
    flex: 0 0 calc(25% - 10px); /* Three items per row (adjust as needed) */
    background-color: #FEFFFB;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.answer {
    font-weight: 300;
    padding: 30px;
    background-color: #FEFFFB;
}
.question {
    font-weight: 300;
    padding: 30px;
    background-color: #FEFFFB;
}
.stack {
    font-weight: 600;
    background-color: #FEFFFB;
    margin-bottom: 5px;
}
.flashcardButton {
    font-weight: 350;
    padding: 5px 10px;
    margin-top: auto;
}
.deleteButton {
    background-color: #da2e2e;
    color: #FEFFFB;
}
.deleteButton:hover {
    background-color: #E4ACAC;
    color: #0A171F;
}
.deleteButton:active {
    background-color: #da2e2e;
    color: #FEFFFB
}
.toggleButton {
    background-color: #0a334f;
    color: #EEF0EB;
}
.toggleButton:hover {
    background-color: #4f92bf;
}
.toggleButton:active {
    background-color: #4f92bf;
}
/*------------------------- Review Page Display ------------------------*/
.reviewContainer {
    text-align: center;
    margin: 5px;
}
#flashcardReviewContainer {
    justify-content: center;
    display: flex;
}
.reviewFlashcard {
    flex: 0 0 calc(33.33% - 10px); /* Set the width to one-third of the container */
}
#reviewDropdown {
    text-align: center;
    padding: 15px;
}
.reviewButton {
    padding: 10px 20px;
    margin: 5px;
    font-weight: 350;
}
#showNextFlashcard {
    background-color: #98E4AF;
}
#showNextFlashcard:hover {
    background-color: #1A612F;
    color: #FEFFFB;
}
#showNextFlashcard:active {
    background-color: #1A612F;
    color: #FEFFFB;
}
#showPrevFlashcard {
    background-color: #F9627D
}
#showPrevFlashcard:hover {
    background-color: #9D0622;
    color: #FEFFFB;
}
#showPrevFlashcard:active {
    background-color: #9D0622;
    color: #FEFFFB;
}

#showRandomFlashcard {
    border: 2px solid #0a334f;
    animation: rainbowEffect 5s infinite linear; /* Apply the rainbow color change animation */
    color: #FEFFFB;
    font-weight: 800;
}
#showRandomFlashcard:hover {
    border: 2px solid #7dc6f7;
}
#showRandomFlashcard:active {
    border: 2px solid #0a334f;
}
@keyframes rainbowEffect {
    0% {
      background-color: red; /* Red */
    }
    14.285% {
      background-color: orange; /* Orange */
    }
    28.57% {
      background-color: yellow; /* Yellow */
    }
    42.855% {
      background-color: green; /* Green */
    }
    57.14% {
      background-color: blue; /* Blue */
    }
    71.425% {
      background-color: indigo; /* Indigo */
    }
    85.71% {
      background-color: violet; /* Violet */
    }
    100% {
      background-color: red; /* Back to Red to loop seamlessly */
    }
  }